:root {
    font-size: 16px;
    --head-text: 'Spartan', sans-serif;
    --body-text: 'Roboto', sans-serif;


    --primary-color:#A5A261;
    --primary-color2:#5C5D45;
    --primary-color3:#666666;
    --primary-color4:#333333;
    --primary-color5:#000000;
    --primary-color6: #FFFFFF;
    --primary-color7:rgba(255, 255, 255, 0);

    
    
    --text-primary: #000;
    --text-secondary:#fff;


    --bg-primary:#F8EDDE;
    --bg-secondary:#A5A261;

    --icon-size: 20px;
    --responsive-size: 720px;
}

q {
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


.fa-primary {
    color: var(--primary-color);
}

.fa-secondary {
    color: var(--primary-color2);
}

.fa-primary, .fa-secondary
{
    transition: var(--transition-speed);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--head-text);
}


a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  cursor: pointer;
}


/* Main Site Nav */


#site-nav{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: 0.6s;
  z-index: 10000;
  background-color: var(--primary-color);
  color: var(--primary-color6);
  
  border-bottom:1px solid var(--primary-color2);

  /* Fixes */
  max-width: 100vw;
}


.navbar__header {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  transition: all 0.5s ease;
}

.logo {
  font-family: 'Spartan', sans-serif;
  font-size: 20px;
}


.navigation__area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__btn {
align-self: center;
 border: 5px solid var(--primary-color6);
 cursor: pointer;
 visibility: hidden;
display: none;
 /*Fixes */
 max-height: 20vh;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 5px;
  margin: 0.3rem;
  background: var(--primary-color6);
  transition: all 1s ease;
}


.change .bar1 {
  transform: rotate(-45deg) translate(-5px, 8px);
}


.change .bar2 {
  opacity: 0;  
}

.change .bar3 {
  transform: rotate(45deg) translate(-5px, -8px);
}

.navbar__links {
  list-style-type: none;
  transition: all 1s ease;
  padding-left: 0;
  /* Fixes */
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0;

}

.navbar__links > li {
  margin-left: 20px;
  position: relative;
}

.nav-dropdown svg {
  fill: var(--primary-color6);
}

.navbar__links li ul {
  background-color: var(--primary-color);
  display: none;
  position: absolute;
  top: 100%;
  list-style-type: none;
  z-index: 999999;
  border: 1px solid var(--primary-color2);
  border-top: none;
}

.navbar__links li:hover ul {
  display: block;
}

@media screen and (min-width: 780px) {
  .navbar__links a.nav-button {
    display: inline-block;
    color: var(--primary-color2);
    padding: 5px 30px;
    border-radius: 15px;
    border: 1px solid var(--primary-color2);
    background-color: var(--primary-color6);

  }

  .navbar__links a.nav-button:hover {
    color: var(--primary-color6);
    background-color: var(--primary-color2);
  }
}
@media screen and (max-width: 780px) {

  #site-nav {
    padding: 0px;
  }


  .navbar__btn { 
    visibility: visible;
    display: block;
  }
  .navbar__links {
    max-height: 0;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color2);
    border-top: 1px solid var(--primary-color2);
  }


  .navbar_collapse {
    max-height: 300px;
  }
}



.navbar__links a {
  display: inline-block;
  padding: 0.5rem;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 1s ease;
  cursor: pointer;

  /* Stylable */
  
  font-size: 14px;
}

.navbar__links a:hover {
  text-decoration: none;
  color: var(--primary-color6);
}

.navbar__links .active a {
  color: var(--primary-color);
}



/* All Sections */

body {
  background-color: var(--bg-primary);
  font-family: 'Spartan', sans-serif;
}

.max-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

section {
  max-width: 100vw;
  overflow: hidden;
  padding: 100px 0;
}


.section-main {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 40px;
  color: #000;
}

.highlighted {
  color: var(--primary-color);
}

.section-sub {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: var(--primary-color3);
}

.section-title {
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 780px) { 
  .section-title {
    width: 100%;
  }
}

  /* Hero Section */

  .hero {
    padding-top: 100px;
    height: 100vh;
  }

  .hero-description {
    position: relative;
    width: 40%;
    min-width: 400px;
    z-index: 500;
    padding: 70px;
    border-radius: 20px;
  }


  .hero-image-area {
    z-index: 0;
    width: 70%;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 42% 100%);
    background: linear-gradient(0deg, rgba(165, 162, 97, 0.43), rgba(165, 162, 97, 0.43)), url(https://joshade.github.io/Habit-Tracking-Landing-Page/images/cameron-venti-I1EWTM5mFEM-unsplash.jpg) no-repeat left bottom;
    background-size: cover;
    border-radius: 5px;
  }

  .hero-title {
    width: 90%;
  }

  .hero-sub {
    width: 60%;
  }

  .call-to-action {
    border-radius: 10px;
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    font-weight: 300;
    font-size: 14px;
  }

  .call-to-action:hover {
    color: #fff;
    text-decoration: none;
  }

  .call-to-text {
    font-size: 12px;
  }

  .available-os {
    font-size: 12px;
    color: var(--primary-color4);
  }

  .os-list {
    list-style: none;
    display: inline-flex;
    margin-left: 10px;
  }

  .os-list li {
    margin-right: 10px;
  }

  .os-list li svg {
    width: 24px !important;
    height: 24px !important;
    fill: var(--primary-color4);

  }


  /* Section 2 */


  .section2-content {
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section2-image-gallery {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vw;
  }


  .section2-image-gallery img {
    width: 40%;
    max-width: 350px;
    margin-top: 10px;
  }

  .section2-text-content {
    width: 50%;
    padding: 50px;
    margin: auto 0;
  }

  .section2-text-content .point {
    margin-bottom: 50px;
  }

  .section2-text-content .point h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
  }

  .section2-text-content .point h4 svg {
    width: 32px !important;
    height: 32px !important;
    margin-right: 10px;
  }

  .section2-text-content .point p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--primary-color3);
  }


  @media screen and (max-width: 780px) { 
    .section2-content {
      flex-direction: column;
    }

    .section2-image-gallery, .section2-text-content {
      width: 100%;

    }
  }

  /* Section 3 */


  .section3-content {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section3-image-gallery {
    width: 50%;
    position: relative;
  }


  .section3-image-gallery img {
    width: 40%;
    max-width: 350px;
    position: relative;
    left: 25%;
    transform: translateX(-50%);
    border-radius: 10px;
    border: 1px solid #000;
  }

  .section3-image-gallery .image2 {
    position: absolute;
    top: 100px;
    left: 45%;
    transform: translateX(-50%);
    z-index: 5;
  }

  .section3-text-content {
    width: 50%;
    padding: 20px;
    margin: auto 0;
  }

  .section3-text-content .point {
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 10px;
    transition: all 0.5s ease-out;
    position: relative;
  }

  .section3-text-content .point::before {
    transition: all 0.1s ease-in;
    content: " ";
    width: 0px;
    height: 100%;
    background-color: var(--primary-color);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px 0px 0px 10px;
  }

  .section3-text-content .point:hover {
    box-shadow: 0px 4px 50px 5px rgba(0, 0, 0, 0.25);
    transform: translateY(-10px);
  }

  .section3-text-content .point:hover::before {
    width: 10px;
  }

  .section3-text-content .point h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
  }

  .section3-text-content .point p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--primary-color3);
  }


  @media screen and (max-width: 780px) { 
    .section3-content {
      flex-direction: column;
    }

    .section3-image-gallery, .section3-text-content {
      width: 100%;

    }
  }

  /* Footer */

  footer {
    padding: 30px;
    font-size: 15px;
    background-color: var(--primary-color);
  }

  footer a {
    color: var(--primary-color2)
  }
  footer a:hover {
    color: var(--primary-color6);
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .footer-logo {
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    width: 200px;
    margin:0 0 20px 0;
  }

  .footer-logo-link {
    color: #fff;
  }

  .footer-link-wrap {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-link-column {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .footer-heading {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #fff;
  }

  .footer-link svg {
    width: 20px !important;
    height: 20px !important;
  }

  .footer-link:hover {
    text-decoration: none;
  }





